<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zmy.study">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--launchModeDemo开始-->
        <activity
            android:name=".launchMode.IndexActivity" />
        <activity
            android:name=".launchMode.StandardActivity" />
        <activity
            android:name=".launchMode.SingleTopActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".launchMode.SingleTaskActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".launchMode.SingleInstanceActivity"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".launchMode.OtherActivity" />
        <!--launchModeDemo结束-->

        <!--serviceDemo开始-->
        <activity
            android:name=".service.ServiceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".service.IntentServiceActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".service.MyService" />
        <service android:name=".service.MyIntentService" />
        <!--serviceDemo结束-->

        <activity
            android:name=".webJs.WebViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".webJs.WebViewActivity2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".viewScroll.ViewScollActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".DragActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
